<html ng-app="phoneList">
  <head>
      <meta charset="utf-8">
      <title>Phone List</title>
      <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

      <style>

        .jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
          margin-top: 20px;
        }

        .form-control {
          margin-top: 5px;
        }

        .selected {
          background-color: yellow;
        }

        .bold {
          font-weight: bold;
        }

      </style>

      <script src="lib/angular/angular.js"></script>
      <script src="lib/angular/i18n/angular-locale_pt-br.js"></script>
      <script>

          angular.module("phoneList", []); //Cria o módulo
          angular.module("phoneList").controller("phoneListCtrl", function ($scope, $http){
              $scope.app = "Phone List";
              /*
              $scope.contacts = [
                  {name: "Bruno",  date: new Date(), phone: "94147667", color: "orange"},
                  {name: "Bruna",  date: new Date(), phone: "81049781", color: "green"},
                  {name: "Daniel", date: new Date(), phone: "84470884", color: "red"},
              ];

              $scope.carriers = [
                  {name: "Oi",    code: "14", category: "Cell", price: 2},
                  {name: "Vivo",  code: "15", category: "Cell", price: 1},
                  {name: "Tim",   code: "41", category: "Cell", price: 3},
                  {name: "Claro", code: "36", category: "Cell", price: 2},
                  {name: "NET",   code: "00", category: "Fixed", price: 1},
                  {name: "GVT",   code: "21", category: "Fixed", price: 1},
              ];
              */

              $scope.contacts = [];
              $scope.carriers = [];

              $scope.isContactSelected = function(contacts) {
                return contacts.some(function (contact) {
                  return contact.selected;
                });
              };

              $scope.deleteContacts = function(contacts) {
                  $scope.contacts = contacts.filter(function (contact) {
                      if (!contact.selected) {
                        return contact;
                      }
                  });
              };

              $scope.orderByColumn = "name";
              $scope.orderBy = function(column) {
                $scope.orderByColumn = column;
                $scope.directionOfSorting = !$scope.directionOfSorting;
              };

              var loadContacts = function () {
                $http.get("http://localhost:8080/contact/all").success(function (data){
                    $scope.contacts = data;
                });
              };

              var loadCarriers = function () {
                $http.get("http://localhost:8080/carrier/all").success(function (data){
                    $scope.carriers = data;
                });
              };

              $scope.addContant = function(contact) {
                $http.post("http://localhost:8080/contact/add", contact).success(function (data){
                  $scope.contactForm.$setPristine();
                  //$scope.contactForm.name.$setPristine();
                  //$scope.contactForm.phone.$setPristine();
                  delete $scope.contact;
                  loadContacts();
                });
              };

              loadContacts();
              loadCarriers();

          })

      </script>

  </head>
  <body ng-controller="phoneListCtrl">
      <div class="jumbotron">
          <h3>{{app}}</h3>

          <input class="form-control" type="text" ng-model="searchCriterion" placeholder="O que você está buscando"/>

          <table ng-show="contacts.length > 0" class="table table-striped">
              <tr>
                  <th>Select</th>
                  <th><a href="" ng-click="orderBy('name')">Name</th>
                  <th><a href="" ng-click="orderBy('date')">Date</th>
                  <th><a href="" ng-click="orderBy('phone')">Phone</th>
                  <th>Carrier</th>
                  <!--<th></th>-->
              </tr>
              <tr ng-class="{selected: contact.selected, bold: contact.selected}" ng-repeat="contact in contacts | filter:searchCriterion | orderBy: orderByColumn:directionOfSorting">
                  <td><input type="checkbox" ng-model="contact.selected"></td>
                  <td>{{contact.name}}</td>
                  <td>{{contact.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{contact.phone}}</td>
                  <td>{{contact.carrier.name}}</td>
                  <!--<td><div style="width: 20px; height: 20px; background-color: yellow;" ng-style="{'background-color': contact.color}"></div></td>-->
              </tr>
          </table>

          <form name="contactForm">

              <input class="form-control" type="text" ng-model="contact.name" placeholder="Name" name="name" ng-required="true" ng-minlength="2"/>
              <div ng-show="contactForm.name.$error.required && contactForm.name.$dirty" class="alert alert-danger">The name is required!</div>
              <div ng-show="contactForm.name.$error.minlength" class="alert alert-danger">The name need have 2 caracters at least!</div>

              <input class="form-control" type="text" ng-model="contact.phone" placeholder="Phone" name="phone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
              <div ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty" class="alert alert-danger">The phone is required!</div>
              <div ng-show="contactForm.phone.$error.pattern" class="alert alert-danger">The phone need have pattern #####-####!</div>

              <select class="form-control" ng-model="contact.carrier" ng-options="carrier.name + ' (' + (carrier.price | currency) + ')' group by carrier.category for carrier in carriers  | orderBy: 'name'">
                  <option value="">Select a carrier</option>
              </select>

          </form>

          <button class="btn btn-primary btn-block" ng-click="addContant(contact)" ng-disabled="contactForm.$invalid">Add Contact</button>
          <button class="btn btn-danger btn-block" ng-click="deleteContacts(contacts)" ng-hide="!isContactSelected(contacts)">Deletect Contacts</button>
      </div>
      <!--Não funciona no chrome utilizando o file para executar a página
      <div ng-include="'footer.html'">
      </div>-->
  </body>
</html>
